
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Distance entre Planete1 et Planete2 </div>
    <div class="panel-body">
        <p>{{5116115}}</p>
    </div>

    <!-- Table -->
    <table class="table">

        <thead> <tr> <th>ID</th> <th>Planete</th> <th>Distance planete/soleil</th> <th>Sélectionner</th> </tr> </thead>
        <tbody>
            <tr ng-repeat="detail in details"> <th scope="row">{{detail.idPlanete}}</th> <td>{{detail.nomPlanete}}</td> <td>{{ detail.distanceSoleil}}</td> <td><input type="checkbox" aria-label="..." value="ID"></td><td><button ng-click="listePlaneteCtrl.sendPlanet()" >Detail</button></td> </tr>
            <tr> <th scope="row">2</th> <td>Venus</td> <td>108 208 930 km</td> <td><input type="checkbox" aria-label="..." value="ID"></td> </tr>
        </tbody>
    </table>
</div>
