
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Distance entre Planete1 et Planete2 </div>
    <div class="panel-body">
        <p>{{form}}</p>
        <p>DISTANCE : {{distance}}</p>
    </div>

    <!-- Table -->
    <table class="table">
        <thead> <tr> <th>ID</th> <th>Planete</th> <th>Distance planete/soleil</th> <th>Sélectionner</th> <th>Détails</th> </tr> </thead>
        <tbody>
            <tr ng-repeat="planete in Planetes">
                <th scope="row">{{planete.idPlanete}}</th> <td>{{planete.nomPlanete}}</td> <td>{{planete.distanceSoleil}}</td>
                <td><input ng-click="listePlaneteCtrl.selectPlanete(planete)" type="checkbox" aria-label="..." value="yes"></td>
                <td><button >Detail</button></td>
            </tr>
        </tbody>
    </table>
</div>
