<div class="container">
    <form novalidate="" class="simple-form">
        <div class="row"><div class="col-xs-6">Prénom : </div><div class="col-xs-6"><input ng-model="user.firstname" type="text"></div></div>
        <div class="row"><div class="col-xs-6">Nom : </div><div class="col-xs-6"><input ng-model="user.name" type="text"></div></div>
        <div class="row"><div class="col-xs-6">Email : </div><div class="col-xs-6"><input ng-model="user.email" type="email"></div></div>
        <div class="row"><div class="col-xs-6">Mot de passe : </div><div class="col-xs-6"><input ng-model="user.password" type="password"></div></div>
        <div class="row"><div class="col-xs-6"><a class="btn btn-default" ng-click="registerCtrl.register(user)">S'enregister</a></div><div class="col-xs-6"><a class="btn btn-default" ng-click="registerCtrl.reset()">Effacer</a></div></div>
    </form>
</div>

    