/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 13 déc. 2017, 12:42:42
    Author     : oandrade
*/


body{
    margin-bottom: 100px;
}

.panel-heading{
    background-image: linear-gradient(to bottom,#0b0b0b 0,#2c0000 100%)!important;
    color: white!important;
}
.panel-heading, .panel-body{
    text-align: center;
    font-size: 1.2em;
}
.panel-body{
    font-weight: 800;
    font-size: 1.4em;
}

body{
    background-image: url(../img/stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

div {
    background-color: #ffffffbf;
}

.row{
    height: 87px;

}

.imgplanete{
    width: 40px;
}
.imgPlaneteLeft{
    float: left;
    margin: -5px 0 0 61px;
}
.imgPlaneteRight{
    float: right;
    margin: -5px 61px 0 0px;
}

.lineSelect{
    transition: all linear 1s;
    background-color: black;
    color: white;
}
.lineUnSelect{
    transition: all linear 1s;
    background-color: white;
    color: black;
}