/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 13 déc. 2017, 12:42:42
    Author     : oandrade
*/

.panel-heading, .panel-body{
    text-align: center;
    font-size: 1.2em;
}
.panel-body{
    font-weight: 800;
    font-size: 1.4em;
}

body{
    background-image: url(../img/stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

div {
    background-color: #ffffffbf;
}

.row{
    height: 87px;

}

.lineSelect{
    transition: all linear 0.5s;
    background-color: #2a2a2a;
    color: white;
}
.lineUnSelect{
    transition: all linear 0.5s;
    background-color: white;
    color: black;
}